// Dodamy wlasciowosci ktore powtarzaja sie czesto
// Np; ramki, obramowania powtarzające sie wlasciowci

// Wyrownanie, pozycjowanie  Podstawowe sterowanie
.center-text {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.center-no-float {
  @extend .float-none;
  @extend .center-text;
}

.no-center-float {
  @extend .float-left;
  text-align: initial;
}

// wyrowanie w pionie
.center-vertical {     //wysrodkownie w pionie
  position: relative;
  top: 50%;            // przesuniecie o 50 od gornej krawedzi
  transform: translateY(-50%);   // ale zeby przesunąć obiekt wzgledem jego wlasnego srodka
}

// Widocznosc
.invisible {
  display: none;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}


// rozmiary w pionie jak i w poziomie
.absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}










// SPRAWDZIC CZY DZIALA - it works



 @mixin size($width, $height) {   // wysokosci i szerokosc z parametrami
 width: $width;
 height: $height;
}


// Listy
.list-style-none {
  list-style-type: none;
}

// Ramki
@mixin section-border-top($border-color: $basic-border-color) {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $border-color;
}

@mixin section-border-bottom($border-color: $basic-border-color) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $border-color;
}



// Elementy plywajace   - czyli style do naprawiania elementow plywajacych

@mixin overflow-fix  {   //
  overflow: auto;         // to pozwoli nam naprawic problemy z wysokoscią elementu ktory ma w srodku divy
}

@mixin clearfix {        // Sluzy do naprawaiania wysokosci kontenera z elementami plywajacymi
  &:after {              // Ampersend i pseldoelementy
    content: "";         // Musi byc z pustą wartoscia
    display: table;      // wyswietalany musi byc jako tabela
    clear: both;         // musi posiadac wlasciwosc clear z wartoscią
  }
}                        // Ten mixin bedziemy mogli dodac w różnych miejscach





// ukrywanie - nie po przez usówanie tulko przez zmienienie ich krycia

@mixin hide {    // czyli urkyj
  opacity: 0;    // element ktory krycie ma ustawiony na 0
}

@mixin show {
  opacity: 1;   // czyli pelene krycie
}

// narozniki   - zaokrąglone
@mixin border-radius-single($radius) {     // single czyli identyczne zaokrąglenie na wszystkich narożnikach
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}


