// Dodamy wlasciowosci ktore powtarzaja sie czesto
// Np; ramki, obramowania powtarzające sie wlasciowci

// Wyrownanie, pozycjowanie  Podstawowe sterowanie
.center-text {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.center-no-float {
  .float-none;
  .center-text;
}

.no-center-float {
  .float-left;
  text-align: initial;
}

// wyrowanie w pionie
.center-vertical {     //wysrodkownie w pionie
  position: relative;
  top: 50%;            // przesuniecie o 50 od gornej krawedzi
  transform: translateY(-50%);   // ale zeby przesunąć obiekt wzgledem jego wlasnego srodka
}

// Widocznosc
.invisible {
  display: none;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}


// rozmiary w pionie jak i w poziomie
.absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}










// SPRAWDZIC CZY DZIALA



 .size($width, $height) {   // wysokosci i szerokosc z parametrami
 -width: $width;
 -height: $height;
}


// Listy
.list-style-none {
  list-style-type: none;
}

// Ramki
.section-border-top($border-color: $basic-border-color) {
  -border-top-width: 1px;
  -border-top-style: solid;
  -border-top-color: $border-color;
}

.section-border-bottom($border-color: $basic-border-color) {
  -border-bottom-width: 1px;
  -border-bottom-style: solid;
  -border-bottom-color: $border-color;
}
