
@import "colors";

// zmienne tekstu
$basic-font-size: 13px;
$basic-line-height: 24px;
$paragraph-margin: 0 0 15px;

/*
// zmienne dla użadzen
$phone: "only screen and (min-width: 768px)";
$tablet: "only screen and (min-width: 992px)";
$desktop: "only screen and (min-width: 1200px)";
*/

  /**Media**/   //A tutaj ustawienia z gita https://github.com/kysonic/riot-mui-page/blob/master/app/stylesheets/media.scss

  // Smartphones
/*
$smartphones: "only screen and (min-width : 320px) and (max-width : 480px)";
$smartphones-landscape: "only screen and (min-width : 321px)";
$smartphones-portrait: "only screen and (max-width : 320px)";
// iPads
$ipads: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$ipads-landscape: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
$ipads-portrait: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";
// Desktops
$desktops: "only screen and (min-width : 1224px)";
$desktops-large: "only screen and (min-width : 1824px)";
// Tablets
$tablets: "only screen and (min-width : 768px) and (max-width : 1024px)";
// Phones
$phone: "only screen and (min-width : 320px) and (max-width : 480px)";
$phone-large: "only screen and (min-width : 480px) and (max-width : 768px)";
*/




  // Mixin naglowki  uzywamy nasze tzw. praprocesory
@mixin header-mixin($header-font-size, $header-margin-bottom, $header-color: $basic-header-color) {
  font-size: $header-font-size;
  margin-top: 0;   // margines gorny zawsze zero
  margin-left: 0;   // marg. z lewej takze zero
  margin-right: 0;  // marg. prawyy  takze
  margin-bottom: $header-margin-bottom;   // tutaj mamy tak - bo nasz margines w czesci dolnej bedzie sie po prostu zmienial
  color: $header-color;   // kolor to oczywsicie paramtetr i damy mu tutuaj parametr
  font-weight: 400;     // definjuje to poprostu na sztywno 
}


// font font    - to nasza rodzina fontów - gdzie podpielismy dwa fonty lato i openfonts
// zdefinujmy sobie style textu
$font-family-primary: "Open Sans", sans-serif;   // czyli taka rodzima frrma czcionek
$font-family-secondary: "Lato", sans-serif;


// style tekstu
body {
  font-size: $basic-font-size;
  font-family: $font-family-primary;
  color: $basic-text-color;
}

p {
  margin: $paragraph-margin;
  line-height: $basic-line-height;
}

h2 {
 @include header-mixin(24px, 12px);
}

h3 {
 @include header-mixin(18px, 18px);
}



// 8.Media_queries
// Chodzi nam aby nasz projekt nad którym pracujemy byl wpelni responsywny
// Tak ze wielu miejscach mojej strony mamy kolumny a chcemy zeby byly zwijane do jednej
// I do tego uzyjemy bibloteki media

// Chodzi mi o latwe stworzenie siatki kolumn
// Skorzystamy z bibloteki semantic.gs  =  ale my korzystamy z GEMA SEMANTIC z ruby gems   https://rubygems.org/gems/semantic

// Oraz z githuba kochanego
// https://github.com/tylertate/semantic.gs/blob/master/stylesheets/scss/grid.scss

// Tworzymy nowy plik o nazwie grid.scss i wklejmay do niego klika danych :) naturalnie z githuba
// I podpinamy w naszej apce





