<!-- glowny kontener -->
<div id="main-container">

  <!-- Nawigacja -->
  <header>
    <nav>
      <div class="container">
        <div class="navbar">
          <div class="nav-logo">
            <a href=""><img src="<%= asset_path('logo.png') %>" alt="logo" width="50"></a>
          </div>
          <div class="main-menu-content">
            <ul id="main-menu">
              <li><a href="" class="menu-link-active">Start</a></li>
              <li><a href="">Opinie</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Sklep</a></li>
              <li><a href="">Współpraca</a></li>
              <li><a href="">Kontakt</a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

</div>
